<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="My_SDU">

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>

            <class name="tests.LoginToMainPage_Test"/>
            <class name="tests.HomePage_Test"/>

            <class name="tests.Tests_academic_operations.Consent_Requests_Page_Test"/>
            <class name="tests.Tests_academic_operations.Course_Registration_Page_Test"/>
            <class name="tests.Tests_academic_operations.Wish_list_Page_Test"/>
            <class name="tests.Tests_academic_operations.Withdrawals_Page_Test"/>

            <class name="tests.Tests_information.Curricula_Page_Test"/>
            <class name="tests.Tests_information.My_Curriculum_Page_Test"/>
            <class name="tests.Tests_information.Transcript_Page_Test"/>
            <class name="tests.Tests_information.Grades_List_Page_Test"/>
            <class name="tests.Tests_information.Course_Schedule_Page_Test"/>
            <class name="tests.Tests_information.Accounting_Info_Page_Test"/>
            <class name="tests.Tests_information.Electronic_Attendance_Page_Test"/>
            <class name="tests.Tests_information.System_Calendar_Page_Test"/>
            <class name="tests.Tests_information.Gate_Entry_Records_Page_Test"/>
            <class name="tests.Tests_information.Rules_and_Regulations_Page_Test"/>

            <class name="tests.Tests_services.Messages_Page_Test"/>
            <class name="tests.Tests_services.Questionnaires_Page_Test"/>
            <class name="tests.Tests_services.SduMail_Page_Test"/>
            <class name="tests.Tests_services.Online_Services_Page_Test"/>

            <class name="tests.Tests_profile.My_Profile_Page_Test"/>

        </classes>

    </test>
</suite>